FARGATE_EXPRESS_PORT=8194
NODE_OPTIONS=--max_old_space_size=8192

# control
# whether error stack showed to response
NODE_ENV=development

STAGE=local
REGION=ap-southeast-2
REGION_SHORT=apse2

# separate by comma, case-insensitive, default: LOG_LEVEL=log,warn,error,debug,verbose
# LOG_LEVEL=  -> default
# LOG_LEVEL=log,warn,error -> set this in online environment

# dynamodb admin
DYNAMO_ADMIN_UI_PORT=3801

# dynamodb local
DYNAMODB_PORT=8020
DYNAMO_ENDPOINT=http://localhost:8020
DYNAMODB_SUBSCRIPTION_TABLE_NAME=Subscription
DYNAMODB_USER_TABLE_NAME=User

# eventBus
EVENT_BUS_NAME=local-bb-event-bus
EVENT_BUS_SOURCE=com.badminton-booking.alpha
OFFLINE_EVENT_BUS_ENDPOINT=http://localhost:8144

# email
SMTP_HOST=
SMTP_USER=
SMTP_PASS=

# local aws
AWS_ACCESS_KEY_ID=LOCAL_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=LOCAL_AWS_SECRET_ACCESS_KEY
AWS_DEFAULT_REGION=ap-southeast-2